*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 0.8rem;
	color: #666;
}

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

html, body, #app-container, .app-wrapper {
	height: 100%;
}
.app-wrapper {
	display: flex;
	flex-direction: column;
}

.app-header {
	flex-basis: 44px;
	min-height: 44px;
	padding: 7px;
	background-color: #017cd5;
}

.app-body {
	flex: 1;
}

.designer-container {
	flex: 3;
	overflow: auto;
}



/* Node Css start**/
.node-group .body, .node-head {
	fill: #ffffff;
}
.node-group .port-group {
	fill: transparent;
}
.node-group:hover .port-group {
	fill: #e0e0e0;
}

.node-group .del-group {
	fill: none;
}
.node-group:hover .del-group {
	fill: #f44336;
	cursor: pointer;
}

.edge-group .del-group {
	fill: none;
}
.edge-group:hover .del-group {
	fill: #f44336;
	cursor: pointer;
}

/* NOde css end*/

